[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/matthew-brett/spacemacs.git
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs.git
